header {
  background-color: #111111;

  div {
    padding: 1em 0;
    font-size: 0.95rem;
  }
}

.searchbox {
  border-bottom: 1px solid #ddd;
  background-color: #ffffff;
  position: relative;
  padding: 16px 0;
  // @extend .mx-auto;
  // width: 590px;
  // max-width: 590px;

  &__btn {
    display: flex;
    align-items: center;
    background-color: inherit;
    border: 0;
    padding: 8px 0;
    font-size: 18px;
    line-height: 18px;
    text-align: left;
    width: 100%;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: 1px dotted;
    }

    &__icon {
      vertical-align: middle;
      display: inline-flex;
      height: 24px;
      width: 24px;
      stroke-width: 35;
      color: #333;
    }

    &__span {
      margin-left: 25px;
    }
  }

  &__input {
    background: #ffffff;
    border: 0;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    // border: 2px solid rgb(209, 213, 219);
    box-sizing: border-box;
    // border-radius: 99999px;
    // border-radius: 8px;
    width: 100%;
    padding: 24px 75px 24px 20px;
    font-size: 1.35rem;
    line-height: 1.45;

    &:focus {
      outline: none;
      border-color: transparent;
      // box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px,
      //   rgba(59, 130, 246, 0.5) 0px 0px 0px 2px,
      //   rgba(0, 0, 0, 0) 0px 0px 0px 0px;
    }
  }

  // &__btn {
  //   display: inline-flex;
  //   justify-content: center;
  //   align-items: center;
  //   width: 50px;
  //   height: 100%;
  //   appearance: none;
  //   background: #0076ff;
  //   border: 0px;
  //   border-radius: 8px;
  //   border-bottom-left-radius: initial;
  //   border-top-left-radius: initial;
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   cursor: pointer;
  //   margin: 0px;
  //   outline: none;
  //   overflow: hidden;
  //   padding: 0px;
  //   text-decoration: none;
  //   user-select: auto;
  //   transition: 0.2s max-width cubic-bezier(0.35, 0, 0.65, 1);
  //   vertical-align: middle;
  //   z-index: 0;

  //   &__icon {
  //     height: 45px;
  //     width: 45px;
  //     stroke-width: 45;
  //     padding: 12.5px;
  //     color: #fff;
  //   }
  // }

  .list {
    // position: absolute;
    width: 100%;
    // background: #fff;
    // border-radius: 8px;
    // margin: 0;
    // margin-top: 12px;
    // z-index: 1000;
    padding: 10px 0;
    // box-shadow: rgb(255 255 255) 0px 0px 0px 0px,
    //   rgb(0 0 0 / 5%) 0px 0px 0px 1px, rgb(0 0 0 / 10%) 0px 10px 15px -3px,
    //   rgb(0 0 0 / 5%) 0px 4px 6px -2px;

    li {
      display: block;
      background: #f9fafb;
      border-radius: 0.5rem;
      box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
      padding: 0 1.25rem 0 1rem;
      display: flex;
      align-items: center;
      height: 4rem;
      margin-bottom: 0.5em;

      &:hover {
        cursor: pointer;
        background-color: #f7f7f7;
        color: #fff;
        background-color: rgb(6, 182, 212);
      }
    }
  }
}

.weather-icon {
  width: 32px;
  height: 32px;
  // fill: #0070f3;

  &--current {
    height: 38px;
    width: 38px;
    display: inline-block;
    margin-right: 10px;
    fill: #0070f3;
  }
}

.hourly-card {
  @extend .flex-1;

  &__box {
    @extend .grid, .items-center, .justify-start;
    grid-row-gap: 15px;
    width: 100%;
    grid-template-columns: 1fr;

    &__hour,
    &__temp {
      @extend .flex, .items-center, .justify-center, .text-center;
    }

    &__hour {
      color: #666;
      font-size: 0.9em;
    }

    &__icon {
      @extend .mx-auto;
    }

    &__temp {
      font-size: 1.1em;
    }
  }
}

.map {
  @extend .overflow-hidden;
  height: 500px;
  width: 100%;
  background-color: #ededed;
  // background-image: url(https://images.unsplash.com/photo-1614728672820-e88260ce6d0d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1935&q=80);
  // background-image: url(https://media11.s-nbcnews.com/i/MSNBC/Components/Video/202010/lv_ny03_delta_tracker_201007.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset 0 0 300px #ffffff;
}

.daily-card {
  @extend .flex, .flex-col;
  border: 1px solid rgb(196, 207, 214);
  border-radius: 8px;

  &:hover {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05);
  }

  &__box {
    @extend .flex-auto, .grid, .items-center, .justify-center;
    padding: 20px 10px;
    grid-template-columns: 1fr;
    row-gap: 20px;

    &__weekday {
      @extend .flex-auto, .text-center;
      color: #666;
      font-size: 0.95em;
      font-weight: 600;
    }

    &__icon {
      @extend .flex, .items-center, .justify-center;
    }

    &__temps {
      @extend .grid, .items-center, .justify-center, .text-center;
      grid-template-columns: 1fr;
      row-gap: 7.5px;
    }
  }
}

.backdrop {
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 200;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.25);
  padding: 12vh;

  .modal {
    margin: 0 auto;
    width: 100%;

    max-width: 47.375rem;
    display: flex;
    flex-direction: column;
    min-height: 0;
    border-radius: 1rem;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    background: #fff;
    z-index: 300;

    .modal__header {
      background-color: inherit;
      flex: none;
      border-bottom: 1px solid #e5e7eb;
      position: relative;
      z-index: 1;
      display: flex;
      align-items: center;
      margin: 0 1.5rem;
    }

    .modal__body {
      flex: auto;
      display: flex;
      align-items: center;
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
      padding: 0 1.5rem 1.5rem;
      overflow: auto;
      min-height: 100px;
    }

    .modal__footer {
      flex: none;
      display: flex;
      justify-content: flex-end;
      margin: 0 1.5rem;
      border-top: 1px solid #e5e7eb;
      padding: 1.25rem 0;
    }
  }
}
