header {
  background-color: #111111;

  div {
    padding: 1em 0;
    font-size: 0.95rem;
  }
}

.searchbox {
  @extend .mx-auto;
  position: relative;
  width: 490px;

  &__input {
    background: #ffffff;
    border: 2px solid #c4cfd6;
    box-sizing: border-box;
    border-radius: 99999px;
    width: 100%;
    padding: 20px 75px 20px 35px;
    font-size: 1.2rem;

    &:focus {
      outline: none;
      border-color: transparent;
      box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px,
        rgba(59, 130, 246, 0.5) 0px 0px 0px 2px,
        rgba(0, 0, 0, 0) 0px 0px 0px 0px;
    }
  }

  &__btn {
    appearance: none;
    background: transparent;
    border: 0px;
    cursor: pointer;
    display: inherit;
    margin: 0px;
    outline: none;
    overflow: hidden;
    padding: 0px;
    text-decoration: none;
    user-select: auto;
    transition: 0.2s max-width cubic-bezier(0.35, 0, 0.65, 1);
    vertical-align: middle;
    z-index: 0;

    &__icon {
      height: 45px;
      width: 45px;
      stroke-width: 45;
      position: absolute;
      top: 50%;
      right: 0%;
      transform: translateY(-50%);
      margin-right: 12.5px;
      padding: 12.5px;
      border-radius: 99999px;
      background-color: #0076ff;
      color: white;
    }
  }
}

.weather-icon {
  width: 32px;
  height: 32px;
  // fill: #0070f3;

  &--current {
    height: 38px;
    width: 38px;
    display: inline-block;
    margin-right: 10px;
  }
}

.hourly-card {
  @extend .flex-1;

  &__box {
    @extend .grid, .items-center, .justify-start;
    grid-row-gap: 15px;
    width: 100%;
    grid-template-columns: 1fr;

    &__hour,
    &__temp {
      @extend .flex, .items-center, .justify-center, .text-center;
    }

    &__hour {
      color: #666;
      font-size: 0.9em;
    }

    &__icon {
      @extend .mx-auto;
    }

    &__temp {
      font-size: 1.1em;
    }
  }
}

.map {
  @extend .overflow-hidden;
  height: 500px;
  width: 100%;
  background-color: #ededed;
  // background-image: url(https://images.unsplash.com/photo-1614728672820-e88260ce6d0d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1935&q=80);
  // background-image: url(https://media11.s-nbcnews.com/i/MSNBC/Components/Video/202010/lv_ny03_delta_tracker_201007.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset 0 0 300px #ffffff;
}

.daily-card {
  @extend .flex, .flex-col;
  border: 1px solid rgb(196, 207, 214);
  border-radius: 8px;

  &:hover {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05);
  }

  &__box {
    @extend .flex-auto, .grid, .items-center, .justify-center;
    padding: 20px 10px;
    grid-template-columns: 1fr;
    row-gap: 20px;

    &__weekday {
      @extend .flex-auto, .text-center;
      color: #666;
      font-size: 0.95em;
      font-weight: 600;
    }

    &__icon {
      @extend .flex, .items-center, .justify-center;
    }

    &__temps {
      @extend .grid, .items-center, .justify-center, .text-center;
      grid-template-columns: 1fr;
      row-gap: 7.5px;
    }
  }
}
