.container {
  width: 100%;
  max-width: 1024px;
}

.bg-light-grey {
  background-color: $light-grey;
}

.overflow-hidden {
  overflow: hidden;
}

.mx-auto {
  margin: 0 auto;
}

.h-full {
  height: 100%;
}

.flex {
  display: flex;
}

.flex-auto {
  flex: 1 1 auto;
}

.flex-1 {
  flex: 1 1 0%;
}

.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}

.flex--center {
  @extend .flex, .justify-center, .items-center;
}
