.daily-card {
  @extend .flex, .flex-col;
  /*box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;*/
  border-radius: 8px;
  // border: 2px solid transparent;
  border: 1px solid rgb(234, 234, 234);
  background-color: #fff;

  // &:hover {
  //   border: 2px solid #0070f3;
  // }

  &__box {
    @extend .flex-auto, .grid, .items-center, .justify-center;
    padding: 30px;
    grid-template-columns: 1fr;
    row-gap: 20px;

    &__weekday {
      @extend .flex-auto, .text-center;
      color: #666;
      font-size: 1.1rem;
      font-weight: 600;
    }

    &__icon {
      @extend .flex, .items-center, .justify-center;
    }

    &__temps {
      @extend .grid, .items-center, .justify-center, .text-center;
      grid-template-columns: 1fr;
      row-gap: 0.55rem;
    }
  }
}
