@import "~/node_modules/modern-normalize/modern-normalize.css";

html {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  height: 100%;
  background-color: $main-bg;
  color: $text-color;
  font-family: $font-sans;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
:after,
:before {
  box-sizing: inherit;
}

[role="button"],
button {
  cursor: pointer;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}
