$font-sans: "Inter", sans-serif;

$header-height: 50px;

$breakpoints: (
  sm: 640px,
  md: 768px,
  lg: 1024px,
);

$main-bg: #fff;
$text-color: #000;
$light-grey: #fafafa;

$accents-1: #fafafa;
$accents-2: #eaeaea;
$accents-3: #999;
$accents-4: #888;
$accents-5: #666;
$accents-6: #444;
$accents-7: #333;
$accents-8: #111;
