@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");

$font-sans: "Inter", sans-serif;

$header-height: 50px;

$breakpoints: (
  sm: 640px,
  md: 768px,
  lg: 1024px,
);

$main-bg: #fff;
$text-color: #000;
$light-grey: #fafafa;

$accents-1: #fafafa;
$accents-2: #eaeaea;
$accents-3: #999;
$accents-4: #888;
$accents-5: #666;
$accents-6: #444;
$accents-7: #333;
$accents-8: #111;

html {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  height: 100%;
  background-color: $main-bg;
  color: $text-color;
  font-family: $font-sans;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
:after,
:before {
  box-sizing: inherit;
}

[role="button"],
button {
  cursor: pointer;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

.h-full {
  height: 100%;
}

.mx-auto {
  margin: 0 auto;
}

.pt-16 {
  padding-top: 4rem;
}

.py-20 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.pb-20 {
  padding-bottom: 5rem;
}

.text-center {
  text-align: center;
}
