.flex {
  display: flex;
}

/*#region Flex Direction*/
/* Utilities for controlling the direction of flex items. */

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

/*#endregion*/

/*#region Flex */
/* Utilities for controlling how flex items both grow and shrink. */

.flex-auto {
  flex: 1 1 auto;
}

.flex-1 {
  flex: 1 1 0%;
}

.flex-initial {
  flex: 0 1 auto;
}
.flex-none {
  flex: none;
}

/*#endregion*/

/*#region Flex Grow */
/* Utilities for controlling how flex items grow. */
.flex-grow-0 {
  flex-grow: 0;
}
.flex-grow {
  flex-grow: 1;
}
/*#endregion*/

/*#region Flex Shrink */
/* Utilities for controlling how flex items shrink. */

.flex-shrink-0 {
  flex-shrink: 0;
}
.flex-shrink {
  flex-shrink: 1;
}

/*#endregion*/

/*#region Flex Wrap*/
/* Utilities for controlling how flex items wrap. */

.flex-wrap {
  flex-wrap: wrap;
}
.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}
.flex-nowrap {
  flex-wrap: nowrap;
}

/*#endregion*/

/*#region Order */
/* Utilities for controlling the order of flex and grid items. */

.order-1 {
  order: 1;
}
.order-2 {
  order: 2;
}
.order-3 {
  order: 3;
}
.order-4 {
  order: 4;
}
.order-5 {
  order: 5;
}
.order-6 {
  order: 6;
}
.order-7 {
  order: 7;
}
.order-8 {
  order: 8;
}
.order-9 {
  order: 9;
}
.order-10 {
  order: 10;
}
.order-11 {
  order: 11;
}
.order-12 {
  order: 12;
}
.order-first {
  order: -9999;
}
.order-last {
  order: 9999;
}
.order-none {
  order: 0;
}

/*#endregion*/
