/*#region Fill*/
/* Utilities for styling the fill of SVG elements.. */

.fill-current {
  fill: currentColor;
}
/*#endregion */

/*#region Stroke*/
/* Utilities for styling the stroke of SVG elements. */

.stroke-current {
  stroke: currentColor;
}
/*#endregion */

/*#region Stroke Width*/
/* Utilities for styling the stroke width of SVG elements. */

.stroke-0 {
  stroke-width: 0;
}
.stroke-1 {
  stroke-width: 1;
}
.stroke-2 {
  stroke-width: 2;
}
/*#endregion */
